apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app
        image: shubham379/app:bf3fdb5b0a984293421b8e4dfb7ce61701d356ef
        ports:
        - containerPort: 3000
